
<!DOCTYPE html>
<html lang="fr">

  <head>
<script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="758b5248-0123-42bb-b6d8-3e1d7f61a55b";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UBERMOOV’ , Leader sur le secteur de la livraison à Paris vous propose une alternative innovante aux moyen de livraison et de déménagement.">
    <meta name="keywords" content="livraison,colis,paris,application,service,livreur,innovation,déménagement">
    <meta name="author" content="UBERMOOV'">
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>UBERMOOV'</title>

    <!-- Bootstrap core CSS -->

<link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" />
    <!-- Custom fonts for this template -->

    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->

<link rel="stylesheet" href="{{ asset('vendor/magnific-popup//magnific-popup.css') }}" />
    <!-- Custom styles for this template -->

<link rel="stylesheet" href="{{ asset('css/creative.min.css') }}" />
  </head>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://ubermoov.azurewebsites.net",
    "name": "UBERMOOV'",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1-401-555-1212",
      "contactType": "Customer service"
    }
  }
  </script>


  <body id="page-top" background="../img/backgrounds/1.jpg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">

        <a class="navbar-brand js-scroll-trigger" href="/"><img class="logo" alt="logo" src="../logo.jpg"> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <div class="nav-link js-scroll-trigger">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}

              </div>
              </li>
          </ul>
        </div>
        <a class="navbar-brand js-scroll-trigger" href="/faq_eng"><img class="uk" src="../uk.jpg" alt="uk" height="20" width="20"></a>
        <a class="navbar-brand js-scroll-trigger" href="/faq"><img class="fr" src="../french_flag.jpg" alt="fr" height="20" width="20"></a>
      </div>
    </nav>
    <br />
    <br /><br />
    <br /><br />
    <br />
<h1 class="section-heading text-white">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">

            <center>  <strong>FAQ</strong></center>
          </h1>
<h4 class="section-heading text-white">

    <div class="container">
        <br />
        <br />
        <br />

        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          Cette section contient des informations sur <strong> UBERMOOV' </strong> et son fonctionement. Si vous ne trouvez pas de réponse à votre question,Assurez-vous de nous contacter.
        </div>

        <br />

        <div class="panel-group" id="accordion">
            <div class="faqHeader">Questions générales</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">L'enregistrement du compte est-il requis?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      L'enregistrement d'un compte sur <strong> UBERMOOV' </strong> n'est requis que si vous ssouhaitez accéder à nos services. Cela vous garantit un accès facile et rapide à nos serivces via notre application.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Modifier les paramètres du compte ?</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                      Pour modifier votre nom, votre adresse e-mail, votre numéro de téléphone ou votre mot de passe :

                      1. Dans le menu principal de l'application, sélectionnez « Paramètres ».
                      2. Appuyez sur la barre affichant les informations de votre profil.
                      3. Appuyez sur l'information que vous souhaitez modifier.
                      4. Effectuez vos modifications et cliquez sur Enregistrer.

                      Si vous modifiez votre numéro de téléphone, vous recevrez un code de vérification par SMS. Saisissez ce code dans l'application pour confirmer la modification.

                      Si vous modifiez votre mot de passe, vous devrez saisir votre mot de passe actuel. Le mot de passe doit contenir au moins 5 caractères.

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Obtenir une estimation du prix de la course ?</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                      Vous pouvez obtenir une estimation du prix de la livraison avant de commander.

Une estimation du prix de la livraison est donné à titre indicatif et n'est en aucun cas une garantie, car le prix réel peut varier selon différents secteurs (la circulation, la météo, le type de colis). L'estimation n'inclut pas les réductions ou promotions.
Les estimations du prix de la livraison sont calculés selon des itinéraires et <strong>le volume de vos colis</strong> qui peuvent ne pas correspondre à ceux utilisés pendant la livraison.
                    </div>
                </div>
            </div>

            <div class="faqHeader">Application</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Comment commander une livraison ?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      Via notre application : UBERMOOV'

                      Si vous voyez en bas de l'application un curseur vous permettant de sélectionner le type et le nombre de colis :

                      1. Utilisez le curseur pour sélectionner le type de colis.
                      2. Afin de définir votre lieu de prise en charge, indiquez le lieu désiré en positionnant votre repère sur la carte, ensuite, saisissez une adresse exacte dans la barre du lieu de prise en charge ou saisissez une partie de l'adresse, puis sélectionnez l'adresse exacte qui apparaît dans les résultats de la recherche.
                      3. Appuyez sur la barre noire DÉFINIR LE LIEU DE PRISE EN CHARGE. L'application affichera alors une heure d'arrivée estimée pour le chauffeur à proximité qui aura accepté votre commande.
                      4. Appuyez sur la barre de la destination, puis saisissez une adresse ou choisissez un des résultats de la recherche. Vous pouvez ajouter ou modifier une destination à tout moment, avant ou après la commande.
                      5. Appuyez sur la barre noire "COMMANDER" située en bas de l'écran.
                      6. Si une majoration tarifaire est actuellement en vigueur, votre application vous le fera savoir avant la commande de la course.
                      7. Attendez qu'un livreur accepte votre commande.
                      8. Une fois votre commande acceptée, vous pourrez visualiser la position de votre livreur sur la carte, ainsi qu'une heure d'arrivée estimée. Vous recevrez une alerte environ 1 minute avant son arrivée.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">I want to sell my items - what are the steps?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        The steps involved in this process are really simple. All you need to do is:
                        <ul>
                            <li>Register an account</li>
                            <li>Activate your account</li>
                            <li>Go to the <strong>Themes</strong> section and upload your theme</li>
                            <li>The next step is the approval step, which usually takes about 72 hours.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How much do I get from each sale?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        Here, at <strong>PrepBootstrap</strong>, we offer a great, 70% rate for each seller, regardless of any restrictions, such as volume, date of entry, etc.
                        <br />
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Why sell my items here?</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        There are a number of reasons why you should join us:
                        <ul>
                            <li>A great 70% flat rate for your items.</li>
                            <li>Fast response/approval times. Many sites take weeks to process a theme or template. And if it gets rejected, there is another iteration. We have aliminated this, and made the process very fast. It only takes up to 72 hours for a template/theme to get reviewed.</li>
                            <li>We are not an exclusive marketplace. This means that you can sell your items on <strong>PrepBootstrap</strong>, as well as on any other marketplate, and thus increase your earning potential.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What are the payment options?</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                        The best way to transfer funds is via Paypal. This secure platform ensures timely payments and a secure environment.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">When do I get paid?</a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse">
                    <div class="panel-body">
                        Our standard payment plan provides for monthly payments. At the end of each month, all accumulated funds are transfered to your account.
                        The minimum amount of your balance should be at least 70 USD.
                    </div>
                </div>
            </div>

            <div class="faqHeader">Buyers</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">I want to buy a theme - what are the steps?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        Buying a theme on <strong>PrepBootstrap</strong> is really simple. Each theme has a live preview.
                        Once you have selected a theme or template, which is to your liking, you can quickly and securely pay via Paypal.
                        <br />
                        Once the transaction is complete, you gain full access to the purchased product.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Is this the latest version of an item</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        Each item in <strong>PrepBootstrap</strong> is maintained to its latest version. This ensures its smooth operation.
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
</h4>
  </body>

</html>
