<!DOCTYPE html>
<html lang="fr">

  <head>
<script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="758b5248-0123-42bb-b6d8-3e1d7f61a55b";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UBERMOOV’ , Leader sur le secteur de la livraison à Paris vous propose une alternative innovante aux moyens de livraison et de déménagement. Téléchargez l'application pour être pris en charge en quelques minutes. Vous pouvez également vous inscrire pour devenir livreur et gagner de l'argent selon votre propre emploi du temps.">
    <meta name="keywords" content="livraison,colis,paris,application,service,livreur,innovation,déménagement,rapide,emploi,argent,entreprise,plis,minutes,digitale,android,appstore">
    <meta name="author" content="UBERMOOV'">
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>UBERMOOV': AIDE</title>

    <!-- Bootstrap core CSS -->

<link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" />
    <!-- Custom fonts for this template -->

    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->

<link rel="stylesheet" href="{{ asset('vendor/magnific-popup//magnific-popup.css') }}" />
    <!-- Custom styles for this template -->

<link rel="stylesheet" href="{{ asset('css/creative.min.css') }}" />
  </head>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://ubermoov.azurewebsites.net",
    "name": "UBERMOOV'",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1-401-555-1212",
      "contactType": "Customer service"
    }
  }
  </script>


  <body id="page-top" background="../img/backgrounds/1.jpg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">

        <a class="navbar-brand js-scroll-trigger" href="/"><img class="logo" alt="logo" src="../logo.jpg"> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#about">Fonctionnement</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#portfolio">Communauté</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/faq">Aide</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
            </li>
            <li class="nav-item">
              <div class="nav-link js-scroll-trigger">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}

              </div>
              </li>
          </ul>
        </div>
        <a class="navbar-brand js-scroll-trigger" href="/faq_eng"><img class="uk" src="../uk.jpg" alt="uk" height="20" width="20"></a>
        <a class="navbar-brand js-scroll-trigger" href="/faq"><img class="fr" src="../french_flag.jpg" alt="fr" height="20" width="20"></a>
      </div>
    </nav>
    <br />
    <br /><br />
    <br /><br />
    <br />
<h1 class="section-heading text-white">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">

            <center>  <strong>FAQ</strong></center>
          </h1>
<h4 class="section-heading text-white">

    <div class="container">
        <br />
        <br />
        <br />

        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          Cette section contient des informations sur <strong> UBERMOOV' </strong> et son fonctionement. Si vous ne trouvez pas de réponse à votre question, Assurez-vous de nous contacter.
        </div>

        <br />

        <div class="panel-group" id="accordion">
            <div class="faqHeader">Questions générales</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">L'enregistrement du compte est-il requis?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      L'enregistrement d'un compte sur <strong> UBERMOOV' </strong> n'est requis que si vous souhaitez accéder à nos services. Cela vous garantit un accès facile et rapide à nos serivces via notre application.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Modifier les paramètres du compte ?</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                      Pour modifier votre nom, votre adresse e-mail, votre numéro de téléphone ou votre mot de passe :

                      1. Dans le menu principal de l'application, sélectionnez « Paramètres ».
                      2. Appuyez sur la barre affichant les informations de votre profil.
                      3. Appuyez sur l'information que vous souhaitez modifier.
                      4. Effectuez vos modifications et cliquez sur Enregistrer.

                      Si vous modifiez votre numéro de téléphone, vous recevrez un code de vérification par SMS. Saisissez ce code dans l'application pour confirmer la modification.

                      Si vous modifiez votre mot de passe, vous devrez saisir votre mot de passe actuel. Le mot de passe doit contenir au moins 5 caractères.

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Obtenir une estimation du prix de la course ?</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                      Vous pouvez obtenir une estimation du prix de la livraison avant de commander.

Une estimation du prix de la livraison est donné à titre indicatif et n'est en aucun cas une garantie, car le prix réel peut varier selon différents secteurs (la circulation, la météo, le type de colis). L'estimation n'inclut pas les réductions ou promotions.
Les estimations du prix de la livraison sont calculés selon des itinéraires et <strong>le volume de vos colis</strong> qui peuvent ne pas correspondre à ceux utilisés pendant la livraison.
                    </div>
                </div>
            </div>

            <div class="faqHeader">Application</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Comment commander une livraison ?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      Via notre application : UBERMOOV'

                      Si vous voyez en bas de l'application un curseur vous permettant de sélectionner le type et le nombre de colis :

                      1. Utilisez le curseur pour sélectionner le type de colis.
                      2. Afin de définir votre lieu de prise en charge, indiquez le lieu désiré en positionnant votre repère sur la carte, ensuite, saisissez une adresse exacte dans la barre du lieu de prise en charge ou saisissez une partie de l'adresse, puis sélectionnez l'adresse exacte qui apparaît dans les résultats de la recherche.
                      3. Appuyez sur la barre noire DÉFINIR LE LIEU DE PRISE EN CHARGE. L'application affichera alors une heure d'arrivée estimée pour le chauffeur à proximité qui aura accepté votre commande.
                      4. Appuyez sur la barre de la destination, puis saisissez une adresse ou choisissez un des résultats de la recherche. Vous pouvez ajouter ou modifier une destination à tout moment, avant ou après la commande.
                      5. Appuyez sur la barre noire "COMMANDER" située en bas de l'écran.
                      6. Si une majoration tarifaire est actuellement en vigueur, votre application vous le fera savoir avant la commande de la course.
                      7. Attendez qu'un livreur accepte votre commande.
                      8. Une fois votre commande acceptée, vous pourrez visualiser la position de votre livreur sur la carte, ainsi qu'une heure d'arrivée estimée. Vous recevrez une alerte environ 1 minute avant son arrivée.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Choisir un moyen de paiement pour une livraison ?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      Vous pouvez changer de moyen de paiement avant de commander une livraison ou pendant celle-ci.
                      Remarque : si vous êtes dans une ville qui accepte les espèces comme option de paiement et que vous choisissez de payer en espèces, vous ne pourrez pas changer de moyen de paiement lors de votre livraison.
                      Pendant la livraison, balayez l'écran vers le haut dans l'application pour changer votre moyen de paiement. Appuyez sur les 4 derniers chiffres de votre numéro de carte pour accéder à la section Paiements du menu. Vous pourrez y sélectionner un autre moyen de paiement déjà associé à votre compte Ubermoov' ou en ajouter un nouveau.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Comment identifier le livreur et son véhicule ?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                      Lorsque vous commandez une livraison, l'application envoie votre demande aux livreurs à proximité. Une fois que vous êtes en relation avec un livreur, vous avez accès à certaines informations sur votre livreur et son véhicule.
                      Appuyez sur la barre qui comprend le nom, la photo et le véhicule du livreur. La photo de votre livreur s'affiche alors, ainsi que la marque, le modèle et la plaque d'immatriculation de son véhicule.
                      Lorsque vous apercevez le véhicule de votre livreur sur votre lieu de prise en charge, assurez-vous que le numéro de la plaque d'immatriculation affiché dans l'application correspond à celui du véhicule. Les chauffeurs vous demandent souvent votre nom avant de démarrer la livraison.
                        <br />
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Configuration de votre lieu de prise en charge ?</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                      Lorsque vous commandez une course, l'application utilise le GPS pour suggérer le meilleur lieu de prise en charge à proximité.
                      Si vous préférez un autre lieu de prise en charge :
                      1. Appuyez sur l'intitulé du lieu de prise en charge sur la carte.
                      2. Saisissez une nouvelle adresse ou choisissez un autre bâtiment.
                      3. Choisissez l'un des lieux que vous propose l'application.

                      Vous pouvez également modifier votre lieu de prise en charge après avoir commandé une course. Pour cela :
                      1. Appuyez sur le bouton « Modifier » à côté de votre lieu de prise en charge.
                      2. Saisissez une nouvelle adresse ou déplacez le repère jusqu'au lieu désiré sur la carte, en restant à l'intérieur du cercle gris.
                      3. Appuyez sur le bouton « Confirmer » pour terminer votre commande.

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Prévenir de mon heure d'arrivée et de l'avancement de la livraison ?</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                      Vous pouvez envoyer le détail de votre course à à vos proches afin qu'ils puissent suivre votre trajet. Cette option vous permet de leur envoyer un lien par SMS leur permettant de consulter le prénom de votre livreur et les informations relatives à son véhicule, ainsi que votre localisation en temps réel sur la carte.
                      Une fois que vous aurez commandé votre livraion :
                      - Appuyez sur la barre en bas de votre écran ou faites la glisser vers le haut
                      - Sélectionnez “Prévenir de mon heure d'arrivée”
                      - Saisissez votre destination
                      - L'application générera un SMS contenant le lien vous permettant de prévenir de votre heure estimée d'arrivée.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">J'ai eu un accident ?</a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse">
                    <div class="panel-body">
                      La sécurité de tous les utilisateurs de notre plateforme est la priorité chez Uber. Si vous avez eu un accident, assurez-vous que vous et toutes les personnes impliquées êtes sains et saufs. Alertez immédiatement la police et les secours si nécessaire.
                      Décrivez-nous en détail ce qui s'est passé afin que nous puissions vous aider. Nous vous contacterons.
                    </div>
                </div>
            </div>

            <div class="faqHeader">Après ma livraion</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Noter mon livreur ?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                      Les notes nous permettent de garantir des courses de qualité aux passagers comme aux livreurs. Nous prenons les notes très au sérieux.
                      Les livreurs mal notés peuvent se voir refuser l'accès à l'application Ubermoov'.
                      NOTER VOTRE LIVREUR
                      Dans l'application à la fin de chaque livraison ou au bas de la facture reçue par e-mail, vous avez la possibilité d'attribuer 1 à 5 étoiles à votre livreur.
                      Vous pouvez également laisser des commentaires plus détaillés sur la livraion ou le livreur par le biais d'une liste de problèmes fréquents.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Obtenir une facture pour une livraion ?</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                      Votre compte Ubermoov' comprend l'historique de toutes les courses que vous avez effectuées. Pour l'afficher :
                      1. Sélectionnez « Vos livraions », dans le menu de l'application.
                      2. Choisissez une livraison passée.
                      3. Vous pouvez examiner l'itinéraire de cette livraison, le lieu de prise en charge et la destination.
                      4. Pour obtenir le détail du prix de cette livraison, appuyez sur Facture.
</div>
                </div>
            </div>
        </div>
    </div>

    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
</h4>
  </body>

</html>
