<!DOCTYPE html>
<html lang="eng">

  <head>
<script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="758b5248-0123-42bb-b6d8-3e1d7f61a55b";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UBERMOOV’ , Leader in the delivery sector in Paris offers you an innovative alternative to the means of delivery and removal. Download the app to be supported in minutes. You can also register to become a delivery person and earn money according to your own schedule.">
    <meta name="keywords" content="delivery, parcels, paris, application, service, delivery, innovation, moving, fast, work, money, business, folds, minutes, digital, android, appstore">
    <meta name="author" content="UBERMOOV'">
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>UBERMOOV': HELP</title>

    <!-- Bootstrap core CSS -->

<link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" />
    <!-- Custom fonts for this template -->

    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->

<link rel="stylesheet" href="{{ asset('vendor/magnific-popup//magnific-popup.css') }}" />
    <!-- Custom styles for this template -->

<link rel="stylesheet" href="{{ asset('css/creative.min.css') }}" />
  </head>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://uber-moov.azurewebsites.net",
    "name": "UBERMOOV'",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1-401-555-1212",
      "contactType": "Customer service"
    }
  }
  </script>


  <body id="page-top" background="../img/backgrounds/1.jpg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">

        <a class="navbar-brand js-scroll-trigger" href="/"><img class="logo" alt="logo" src="../logo.jpg"> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#portfolio">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
            </li>
            <li class="nav-item">
              <div class="nav-link js-scroll-trigger">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}

              </div>
              </li>
          </ul>
        </div>
        <a class="navbar-brand js-scroll-trigger" href="/faq_eng"><img class="uk" src="img/uk.jpg" alt="uk" height="20" width="20"></a>
        <a class="navbar-brand js-scroll-trigger" href="/faq"><img class="fr" src="img/french_flag.jpg" alt="fr" height="20" width="20"></a>
      </div>
    </nav>
    <br />
    <br /><br />
    <br /><br />
    <br />
<h1 class="section-heading text-white">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">

            <center>  <strong>FAQ</strong></center>
          </h1>
<h4 class="section-heading text-white">

    <div class="container">
        <br />
        <br />
        <br />

        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            This section contains information about <strong> UBERMOOV '</strong> and how it works. If you can not find an answer to your question, make sure to contact us.
        </div>

        <br />

        <div class="panel-group" id="accordion">
            <div class="faqHeader">General questions</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is account registration required?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      Registering an account on <strong> UBERMOOV '</strong> is only required if you want to access our services. This guarantees you easy and fast access to our services via our application.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Edit account settings ?</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                      To change your name, e-mail address, phone number, or password:

                      1. In the main menu of the application, select "Settings".
                      2. Tap the bar displaying your profile information.
                      3. Tap the information you want to edit.
                      4. Make your changes and click Save.

                      If you change your phone number, you will receive a verification code via SMS. Enter this code in the application to confirm the change.

                      If you change your password, you will need to enter your current password. The password must contain at least 5 characters.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What is the currency used for all transactions?</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                      You can get an estimate of the price of the delivery before ordering.

An estimate of the price of the delivery is given as an indication and is in no way a guarantee, because the actual price may vary according to different sectors (traffic, weather, type of package). The estimate does not include discounts or promotions.
Delivery price estimates are calculated based on routes and <strong> the volume of your packages </strong> that may not match those used during delivery.
                    </div>
                </div>
            </div>

            <div class="faqHeader">Application</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How to order a delivery?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      Via our application: UBERMOOV '

                      If you see at the bottom of the application a cursor allowing you to select the type and number of packages:

                      1. Use the slider to select the type of package.
                      2. In order to define your place of support, indicate the desired location by positioning your marker on the map, then enter an exact address in the location bar or enter a part of the address and select the exact address that appears in the search results.
                      3. Press the black bar DEFINE THE PLACE OF SUPPORT. The app will then display an estimated time of arrival for the nearby driver who has accepted your order.
                      4. Tap the destination bar, and then enter an address or choose one of the search results. You can add or change a destination at any time, before or after the order.
                      5. Press the black "COMMANDER" bar at the bottom of the screen.
                      6. If a rate increase is currently in effect, your application will let you know before ordering the race.
                      7. Wait for a delivery person to accept your order.
                      8. Once your order is accepted, you will be able to see the position of your deliveryman on the map, as well as an estimated arrival time. You will receive an alert about 1 minute before arrival.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Choose a payment method for a delivery ?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      You can change your payment method before ordering or during delivery.
                       Note: If you are in a city that accepts cash as a payment option and you choose to pay in cash, you will not be able to change your payment method upon delivery.
                       During delivery, swipe up in the app to change your payment method. Press the last 4 digits of your card number to access the Payments section of the menu. You can select another payment method already associated with your Ubermoov 'account or add a new one.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How to identify the driver and his vehicle ?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                      When you order a delivery, the app sends your request to nearby delivery people. Once you have a relationship with a delivery person, you have access to certain information about your driver and his vehicle.
                       Tap the bar that includes the name, photo and the delivery vehicle. The photo of your deliveryman is displayed, as well as the make, model and license plate of his vehicle.
                       When you see your delivery driver's vehicle at your pickup location, make sure the license plate number displayed in the app matches the vehicle number. Drivers often ask you for your name before starting delivery.
                        <br />
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Setting up your place of support ?</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                      When you order a race, the app uses GPS to suggest the best place of care nearby.
                       If you prefer another place of care:
                       1. Touch the location of the place of support on the map.
                       2. Enter a new address or choose another building.
                       3. Choose one of the places offered by the application.

                       You can also change your place of care after ordering a race. For it :
                       1. Press the "Edit" button next to your place of support.
                       2. Enter a new address or move the marker to the desired location on the map, staying inside the gray circle.
                       3. Press the "Confirm" button to complete your order.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Notify me of my arrival time and delivery progress ?</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                      You can send the details of your race to your loved ones so they can follow your route. This option allows you to send them a link by SMS allowing them to see the first name of your deliveryman and information about his vehicle, as well as your location in real time on the map.
                       Once you have ordered your delivery:
                       - Tap the bar at the bottom of your screen or drag it up
                       - Select "Notify my arrival time"
                       - Enter your destination
                       - The application will generate an SMS containing the link allowing you to warn of your estimated time of arrival.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">I had an accident ?</a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse">
                    <div class="panel-body">
                      The security of all users of our platform is the priority at Uber. If you have had an accident, make sure that you and all those involved are safe and sound. Immediately alert police and rescue if necessary.
                       Describe in detail what happened so that we can help you. We will contact you.
                    </div>
                </div>
            </div>

            <div class="faqHeader">After my delivery</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Rate my delivery man ?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                      The notes allow us to guarantee quality races for both passengers and deliverers. We take the notes very seriously.
                       Misrepresented couriers may be denied access to the Ubermoov application.
                       NOTE YOUR DELIVRRY MAN
                       In the application at the end of each delivery or at the bottom of the invoice received by e-mail, you have the possibility to assign 1 to 5 stars to your deliveryman.
                       You can also leave more detailed comments on the delivery or the delivery person through a list of common problems.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Get an invoice for a delivery ?</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                      Your Ubermoov 'account includes the history of all the races you have done. To display it:
                         1. Select "Your deliveries" in the application menu.
                         2. Choose a past delivery.
                         3. You can review the delivery route, pickup location, and destination.
                         4. For a detailed price for this delivery, tap Invoice.</div>
                </div>
            </div>
        </div>
    </div>

    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
</h4>
  </body>

</html>
