
<!DOCTYPE html>
<html lang="fr">

  <head>
    <title>UBERMOOV': Inscrivez-vous pour devenir livreur ou accédez à nos services.</title>
<script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="758b5248-0123-42bb-b6d8-3e1d7f61a55b";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script><noscript>Your browser does not support JavaScript!</noscript>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UBERMOOV’ , Leader sur le secteur de la livraison à Paris vous propose une alternative innovante aux moyens de livraison et de déménagement. Téléchargez l'application pour être pris en charge en quelques minutes. Vous pouvez également vous inscrire pour devenir livreur et gagner de l'argent selon votre propre emploi du temps.">
    <meta name="keywords" content="livraison,colis,paris,application,service,livreur,innovation,déménagement,rapide,emploi,argent,entreprise,plis,minutes,digitale,android,appstore">
    <meta name="author" content="UBERMOOV'">
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110810434-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110810434-2');
</script>

<noscript>Your browser does not support JavaScript!</noscript>
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-110810434-2', 'auto');
ga('send', 'pageview');
</script>
<noscript>Your browser does not support JavaScript!</noscript>
<!-- End Google Analytics -->

    <!-- Bootstrap core CSS -->

<link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" />
    <!-- Custom fonts for this template -->

    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->

<link rel="stylesheet" href="{{ asset('vendor/magnific-popup//magnific-popup.css') }}" />
    <!-- Custom styles for this template -->

<link rel="stylesheet" href="{{ asset('css/creative.min.css') }}" />
  </head>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "La qualité de service sur UBERMOOV'",
    "author": "Service qualité",
    "image": "http://uber-moov.azurewebsites.net/app.png",
    "description": "Présentation de nos services.",
    "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4",
    "reviewCount": "276",
    "bestRating": "5",
    "worstRating": "1"
  },
    "url": "http://uber-moov.azurewebsites.net/",
    "name": "UBERMOOV'",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1-401-555-1212",
      "contactType": "Customer service"
    }
  }
  </script>
  <noscript>Your browser does not support JavaScript!</noscript>


  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">

        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img class="logo" alt="logo d'UBERMOOV'" longdesc="ce logo est composé d'un colis orange suvivi du nom de l'entreprise" src="img/logo.jpg"></a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Fonctionnement">Fonctionnement</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Communauté">Communauté</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/faq">Aide</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <div class="nav-link js-scroll-trigger">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
              </div>

              </li>
          </ul>

        </div>
        <a class="navbar-brand js-scroll-trigger" href="/eng"><img class="uk" src="img/uk.jpg" alt="drapeau anglais" longdesc="cliquez sur le drapeau anglais et vous pourrez afficher le texte en anglais" height="20" width="20"></a>
<a class="navbar-brand js-scroll-trigger" href="/"><img class="fr" src="img/french_flag.jpg" alt="drapeau français" longdesc="cliquez sur le drapeau français et vous pourrez afficher le texte en français" height="20" width="20"></a>
<a href="http://free-website-translation.com/?fr" id="ftwtranslation_button" hreflang="fr" title="" style="border:0;"><img src="http://free-website-translation.com/img/fwt_button_en.gif" id="ftwtranslation_image" alt="Outil de traduction gratuite de site Internet" style="border:0;"/></a><br /><a href="http://free-website-translation.com/?fr" style="font-size:10px;font-family:verdana;color:#000;margin:2px 4px;margin-top:0;">by FreeWebsiteTranslation.com</a><script type="text/javascript" src="http://free-website-translation.com/scripts/fwt.js" /></script>
      </div>

    </nav>


    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Le Meilleur Moyen De Se Faire Livrer.</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"><meta property="og:title" content="UBERMOOV', Service de livraison">
          <meta property="og:site_name" content="UBERMOOV'">
          <meta property="og:url" content="https://www.facebook.com/UberMoov-386497358451863/">
          <meta property="og:description" content="UBERMOOV’ , Leader sur le secteur de la livraison à Paris vous propose une alternative innovante aux moyens de livraison et de déménagement.">
          <meta property="og:type" content="website">
          <meta property="og:image" content="img/logoappubermoov.jpg">
          <meta name="twitter:card" content="app">
          <meta name="twitter:site" content="@ubermoov">
          <meta name="twitter:description" content="UBERMOOV’ , Leader sur le secteur de la livraison à Paris vous propose une alternative innovante aux moyens de livraison et de déménagement.">
          <meta name="twitter:app:name:iphone" content="UBERMOOV'">
          <meta name="twitter:app:id:iphone" content="">
          <meta name="twitter:app:name:ipad" content="UBERMOOV'">
          <meta name="twitter:app:id:ipad" content="">
          <meta name="twitter:app:name:googleplay" content="UBERMOOV'">
          <meta name="twitter:app:id:googleplay" content=""></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#Fonctionnement">En savoir plus</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="Fonctionnement">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white"> JUST ASK, WE MOVE !</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">UberMoov est une solution digitale via une application qui a pour but de faciliter le transport de colis ou de plis.
Avec cette application, la personne désirant transporter quelque chose d’un point
A à un point B aura simplement besoin d’ouvrir cette application, prendre une photo du colis, valider le type de transporteur proposé par l’application et indiquer son point de départ et d'arrivée.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="/register">S'inscrire</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">À Votre Service</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Qualité de Service</h3>
              <p class="text-muted mb-0">C'est l'une des principales raisons pour lesquelles les utilisateurs choisissent notre plateforme.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Livraison Rapide</h3>
              <p class="text-muted mb-0">Commander une livraison en quelques minutes.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-cog text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Sur Mesure</h3>
              <p class="text-muted mb-0">Un service personalisé en fonction de vos besoins.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Satisfaction Client</h3>
              <p class="text-muted mb-0">Nos services délivre la meilleure expérience client.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="Communauté">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="Louis, Musicien et partenaire" longdesc="cette image représente l'histoire de Louis, un membre de notre communauté">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Louis
                  </div>
                  <div class="project-name">
                    Musicien et partenaire
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="Vincent, Coach sportif et partenaire" longdesc="cette image représente l'histoire de Vincent, un membre de notre communauté">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Vincent
                  </div>
                  <div class="project-name">
                    Coach sportif et partenaire
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="Kévin, Papa et partenaire" longdesc="cette image représente l'histoire de Kévin, un membre de notre communauté">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Kévin
                  </div>
                  <div class="project-name">
                    Papa et partenaire
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="Amandine, Chanteuse et partenaire" longdesc="cette image représente l'histoire d'Amandine, un membre de notre communauté">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Amandine
                  </div>
                  <div class="project-name">
                    Chanteuse et partenaire
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="Alex, Paysagiste et partenaire" longdesc="cette image représente l'histoire d'Alex, un membre de notre communauté">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Alex
                  </div>
                  <div class="project-name">
                    Paysagiste et partenaire
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="Julie, Vendeuse et partenaire" longdesc="cette image représente l'histoire de Julie, un membre de notre communauté">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Julie
                  </div>
                  <div class="project-name">
                    Vendeuse et partenaire
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Commandez une livraison avec UBERMOOV'!</h2>
        <img class="app" alt="télécharger notre application" longdesc="Cliquez sur cette icône et vous serez redirigé vers la plateforme de téléchargement" src="img/app.png">
</br>
</br>
</br>
        <img class="tagapp" alt="disponible sur l'applestore" longdesc="Notre application UBERMOOV' est disponible sur le store d'Apple" src="img/appstore.png">&nbsp;&nbsp;&nbsp;<img class="tagapp" alt="disponible sur googleplay" longdesc="Notre application UBERMOOV' est disponible sur le store de google"src="img/googleplay.png">
</br>
</br>
        <a class="btn btn-light btn-xl sr-button" href="https://itunes.apple.com/fr/app/uber/id368677368?mt=8">Télécharger maintenant !</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Entrons en Contact!</h2>
            <hr class="my-4">
            <p class="mb-5">Prêt à commencer votre prochain projet avec nous ? C'est génial ! Appelez-nous ou envoyez-nous un courriel et nous vous répondrons dans les plus brefs délais !</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">contact@ubermoov.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <noscript>Your browser does not support JavaScript!</noscript>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <noscript>Your browser does not support JavaScript!</noscript>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <noscript>Your browser does not support JavaScript!</noscript>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <noscript>Your browser does not support JavaScript!</noscript>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <noscript>Your browser does not support JavaScript!</noscript>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
    <noscript>Your browser does not support JavaScript!</noscript>

  </body>

</html>
